<h1 appResaltar color="#0ff">{{ title }}</h1>

<!--

<label for="name">Nombre:</label>
<input id="name" type="text" [(ngModel)]="nombre" />
<br />
<label for="surname">Apellido:</label>
<input id="surname" type="text" [(ngModel)]="surname" />

{{ nombre }} {{ surname }}

<p>Fecha: {{ d1 | date }}</p>
<p>Cantidad: {{ 123.409 | currency: "usd" }}</p>

<p>Soleado: {{ true | boolean | uppercase }}</p>

<p>Ciudades: {{ ciudades | json }}</p> -->

<div appResaltar>
  <label for="filter">Filtro:</label>
  <input id="filter" type="text" [(ngModel)]="cadenaDeBusqueda" />
</div>

<app-weather
  *ngFor="
    let c of ciudades | cityFilter: cadenaDeBusqueda;
    let i = index;
    let f = first;
    let l = last;
    let e = even;
    let o = odd
  "
  [ciudad]="c.ciudad"
  [temperatura]="c.temperatura"
  [cielo]="c.cielo"
  (temperaturaChange)="notificarCambioTemperatura($event)"
>
</app-weather>

<hr />
Pie
